name: Versionamento Automatico

on:
  push:
    branches: [main]

jobs:
  create_tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Criar tag automatica
        uses: anothrNick/github-tag-action@1.64.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
          DEFAULT_BUMP: patch
          RELEASE_BRANCHES: main
          TAG_CONTEXT: branch